

<!-- content -->

<div id="page-content" class="container partials">
    <div class="section-w-image">
        <div class="row">
            <div class="col-sm-4 about-img"><p></p></div>
            <div class="col-sm-8 col-sm-offset-4 about-description">
                <h4>ABOUT</h4>
                <p>Hello, my name is Tyler Nguyen and I am a full stack web developer with a background in electrical engineering based in Seattle, WA. I am an ambitious, innovative, and versatile individual who has a strong interest in problem solving. Apart from programming, I enjoy basketball, traveling, and strategic board games, and most importantly, spending quality time with my friends and family.</p>

                <h4 class="space-top">SKILLS</h4>
                <div class="col-sm-3">

            			<div class="iconbox wow bounceIn">
            				<img class='java' src="/images/html.png">
            				<div class="iconbox-text">
            					<h3 class="iconbox-title">HTML</h3>
            					<div class="iconbox-desc">
            						HTML5, CSS, Sass, Bootstrap, Responsive Web Design
            					</div>
            				</div>
            			</div>

            		</div>
            		<div class="col-sm-3">
            			<div class="iconbox wow bounceIn">
            				<img class='java' src="/images/mean.png">
            				<div class="iconbox-text">
            					<h3 class="iconbox-title">MEAN</h3>
            					<div class="iconbox-desc">
            						MongoDB, Express, Angular, Javascript, jQuery, AJAX, RESTful, JSON
            					</div>
            				</div>
            			</div>

            		</div>

            		<div class="col-sm-3">

            			<div class="iconbox wow bounceIn">
            				<img class='java' src="/images/python.png">
            				<div class="iconbox-text">
            					<h3 class="iconbox-title">Python</h3>
            					<div class="iconbox-desc">
            						Flask, MySQL, Django
            					</div>
            				</div>
            			</div>

            		</div>

            		<div class="col-sm-3">
            			<div class="iconbox wow bounceIn">
            				<img class='java' src="/images/ruby.png">
            				<div class="iconbox-text">
            					<h3 class="iconbox-title">Ruby</h3>
            					<div class="iconbox-desc">
            						Ruby on Rails, ActiveRecords, deploying on AWS
            					</div>
            				</div>
            			</div>


            </div><!-- / about-description -->
        </div><!-- / row -->
    </div><!-- / section-w-image -->

</div><!-- / container -->
<section id="skills" class="module module-gray">
<div class="container">
	<div class="row">


		</div>

	</div><!-- .row -->
</div><!-- .container -->
</section>


<!-- / content -->


<!-- facts counter -->
<script src="js/jquery.countTo.js"></script>
 <script type="text/javascript">
      $('.timer').countTo({
        refreshInterval: 60,
        formatter: function (value, options) {
          return value.toFixed(options.decimals);
        },
      });
</script>
<!-- / facts counter -->
