<header class='partials'>
    <!-- header-banner -->
    <div id="header-banner">
        <div class="banner-content single-page text-center">
            <div class="banner-info">
                <h1>ABOUT US</h1>
                <p>The amazing team behind MP.</p>
            </div><!-- / banner-info -->
        </div><!-- / banner-content -->
    </div>
    <!-- / header-banner -->
</header>
<!-- / header -->

<!-- content -->

<div id="page-content" class="container">
    <div class="section-w-image">
        <div class="row">
            <div class="col-sm-6 about-img"><p></p></div>
            <div class="col-sm-6 col-sm-offset-6 about-description">
                <h4>ABOUT THE TEAM</h4>
                <p>Aliquam pellentesque nunc enim, vel posuere velit commodo blandit. Proin lobortis, nunc id fringilla hendrerit, est metus efficitur massa, sed euismod neque sem id ligula. Etiam sit amet magna dignissim.</p>
                <p>Mauris eget elit auctor, faucibus purus vitae, consectetur quam. Cras imperdiet eu velit interdum scelerisque.</p>

                <h4 class="space-top">SKILLS</h4>
                <p><strong>PHOTOSHOP</strong> <span class="pull-right">90%</span></p>
                <div class="progress progress-label">
                    <div class="progress-bar progress-bar-default animated first fadeInLeft" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                    </div>
                </div><!-- / progress -->

                <p><strong>ILLUSTRATOR</strong> <span class="pull-right">80%</span></p>
                <div class="progress progress-label">
                    <div class="progress-bar progress-bar-primary animated second fadeInLeft" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                    </div>
                </div><!-- / progress -->

                <p><strong>GRAPHIC DESIGN</strong> <span class="pull-right">90%</span></p>
                <div class="progress progress-label">
                    <div class="progress-bar progress-bar-success animated third fadeInLeft" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                    </div>
                </div><!-- / progress -->

                <p><strong>BRANDING</strong> <span class="pull-right">80%</span></p>
                <div class="progress progress-label">
                    <div class="progress-bar progress-bar-info animated fourth fadeInLeft" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                    </div>
                </div><!-- / progress -->

            </div><!-- / about-description -->
        </div><!-- / row -->
    </div><!-- / section-w-image -->

    <!-- facts 4 col -->
    <section id="facts">
        <div class="row">

            <!-- fact -->
            <div class="col-sm-4 text-center">
                <i class="fact-icon lnr lnr-users"></i>
                <h3 class="timer" id="clients" data-to="3745" data-speed="1500">3745</h3>
                <h5 class="fact-title">CLIENTS</h5>
            </div>
            <!-- / fact -->

            <!-- fact -->
            <div class="col-sm-4 text-center">
                <i class="fact-icon lnr lnr-briefcase"></i>
                <h3 class="timer" id="projects" data-to="5402" data-speed="2000">5402</h3>
                <h5 class="fact-title">PROJECTS COMPLETED</h5>
            </div>
            <!-- / fact -->

            <!-- fact -->
            <div class="col-sm-4 text-center">
                <i class="fact-icon lnr lnr-coffee-cup"></i>
                <h3 class="timer" id="coffee" data-to="675" data-speed="2500">675</h3>
                <h5 class="fact-title">CUPS OF COFFEE</h5>
            </div>
            <!-- / fact -->
        </div><!-- / row -->
    </section>
    <!-- / facts 4 col -->

    <!-- stacked pricing table 3col -->
    <div id="pricing">
        <div class="row stacked">
            <!-- pricing-table -->
            <div class="col-sm-4">
                <div class="pricing-table">
                    <div class="pricing-table-title">
                        <h5 class="pricing-title">SINGLE LICENSE</h5>
                    </div>
                    <div class="pricing-table-price">
                        <p>
                            <span class="pricing-currency">$</span>
                            <span class="pricing-price">14</span>
                            <span class="pricing-period">/ one-time</span>
                        </p>
                    </div>
                    <div class="pricing-table-content">
                        <ul>
                            <li><span class="text-primary">Single Installation</span></li>
                            <li>Free Lifetime Updates</li>
                            <li>24/7 Support</li>
                            <li>Design Files</li>
                            <li>SASS Files Included</li>
                            <li>Well Documented</li>
                        </ul>
                        <div class="pricing-table-button">
                            <a href="#x" class="btn btn-primary-filled"><strong>BUY NOW</strong></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / pricing-table -->
            <!-- pricing-table -->
            <div class="col-sm-4">
                <div class="featured pricing-table">
                    <div class="pricing-table-title">
                        <h5 class="pricing-title">MULTIPLE LICENSE</h5>
                    </div>
                    <div class="pricing-table-price">
                        <p>
                            <span class="pricing-currency">$</span>
                            <span class="pricing-price">40</span>
                            <span class="pricing-period">/ one-time</span>
                        </p>
                    </div>
                    <div class="pricing-table-content">
                        <ul>
                            <li><span class="text-primary">Multiple Installations</span></li>
                            <li>Free Lifetime Updates</li>
                            <li>24/7 Support</li>
                            <li>Design Files</li>
                            <li>SASS Files Included</li>
                            <li>Well Documented</li>
                        </ul>
                        <div class="pricing-table-button">
                            <a href="#x" class="btn btn-lg btn-primary-filled"><strong>BUY NOW</strong></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / pricing-table -->
            <!-- pricing-table -->
            <div class="col-sm-4">
                <div class="pricing-table">
                    <div class="pricing-table-title">
                        <h5 class="pricing-title">RESELLER LICENSE</h5>
                    </div>
                    <div class="pricing-table-price">
                        <p>
                            <span class="pricing-currency">$</span>
                            <span class="pricing-price">750</span>
                            <span class="pricing-period">/ one-time</span>
                        </p>
                    </div>
                    <div class="pricing-table-content">
                        <ul>
                            <li><span class="text-primary">Reseller License</span></li>
                            <li>Free Lifetime Updates</li>
                            <li>24/7 Support</li>
                            <li>Design Files</li>
                            <li>SASS Files Included</li>
                            <li>Well Documented</li>
                        </ul>
                        <div class="pricing-table-button">
                            <a href="#x" class="btn btn-primary-filled"><strong>BUY NOW</strong></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / pricing-table -->
        </div><!-- / row -->
    </div><!-- / pricing -->
    <!-- / stacked pricing table 3col -->

    <!-- team section 4col -->
    <section id="team">
        <h2 class="text-center space-top-2x">THE TEAM</h2>
        <p class="text-center space-bottom-2x">The amazing team of hard-working designers.</p>
        <div class="row">
            <!-- team-block -->
            <div class="col-sm-4">
                <div class="team block text-center">
                    <img src="images/team.jpg" alt="">
                    <div class="team-info-box">
                        <h6>JOHN DOE</h6>
                        <p class="team-role">Project Manager</p>
                        <p class="social text-center">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </p>
                    </div><!-- / team-info-box -->
                </div><!-- / team-block -->
            </div><!-- / col-sm-4 -->
            <!-- / team-block -->

            <!-- team-block -->
            <div class="col-sm-4">
                <div class="team block text-center">
                    <img src="images/team.jpg" alt="">
                    <div class="team-info-box">
                        <h6>JASMINE DOE</h6>
                        <p class="team-role">Graphic Designer</p>
                        <p class="social text-center">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </p>
                    </div><!-- / team-info-box -->
                </div><!-- / team-block -->
            </div><!-- / col-sm-4 -->
            <!-- / team-block -->

            <!-- team-block -->
            <div class="col-sm-4">
                <div class="team block text-center">
                    <img src="images/team.jpg" alt="">
                    <div class="team-info-box">
                        <h6>JAMES DOE</h6>
                        <p class="team-role">Support Specialist</p>
                        <p class="social text-center">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </p>
                    </div><!-- / team-info-box -->
                </div><!-- / team-block -->
            </div><!-- / col-sm-4 -->
            <!-- / team-block -->

        </div><!-- / row -->
    </section>
</div><!-- / container -->

<!-- / content -->


<!-- facts counter -->
<script src="js/jquery.countTo.js"></script>
 <script type="text/javascript">
      $('.timer').countTo({
        refreshInterval: 60,
        formatter: function (value, options) {
          return value.toFixed(options.decimals);
        },
      });
</script>
<!-- / facts counter -->
