
<!-- content -->

<div id="page-content-contact" class="container partials">
    <div class="row">
        <div class="col-sm-4 col-md-offset-2 contact-info text-center space-bottom">
            <div class="contact-icon">
                <i class="lnr lnr-sync"></i>
            </div>
            <h5>SOCIAL</h5>
            <p class="social-contact">LinkedIn: <a href="https://www.linkedin.com/in/tyler-nguyen" target="_blank"><i class="fa fa-linkedin"></i></a></p>
            <p class="social-contact">GitHub: <a href="https://github.com/tylern06" target="_blank"><i class="fa fa-github"></i></a></p>
        </div><!-- / fcontact-info -->

        <div class="col-sm-4 contact-info text-center space-bottom">
            <div class="contact-icon">
                <i class="lnr lnr-envelope"></i>
            </div>
            <h5>EMAIL</h5>
            <p><a href="mailto:tynguyen06@gmail.com">tynguyen06@gmail.com</a></p>
        </div><!-- / contact-info -->

    </div><!-- / row -->

    <!-- <div class="row contact-area">
          <div class="col-sm-6 col-md-offset-3 contact-form-area">
            <div id="contact-form">
                <form id="contactForm" data-toggle="validator">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" placeholder="FULL NAME" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" placeholder="EMAIL" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <textarea id="message" class="form-control" rows="5" placeholder="MESSAGE" required></textarea>
                    <div class="help-block with-errors"></div>
                    </div>
                    <button type="submit" id="form-submit" class="btn btn-md btn-primary-filled btn-form-submit">SUBMIT FORM</button>
                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div> -->

</div><!-- / container -->

<!-- / content -->
