<!-- footer -->
<footer>
    <div class="container">
        <p class="footer-info">© TYLER NGUYEN PORTFOLIO
            <span class="social pull-right">
                <a href="https://www.linkedin.com/in/tyler-nguyen" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/tylern06" target="_blank"><i class="fa fa-github"></i></a>
                <!-- <a href="#x"><i class="fa fa-instagram"></i></a> -->
            </span>
        </p>
    </div><!-- / container -->
</footer>
<!-- / footer -->
