<header class='partials'>
    <!-- header-banner -->
    <div id="header-banner" class="demo-2">
        <div class="banner-content text-center">
            <div class="banner-info">
                <h1>Tyler Nguyen</h1>
                <h5>Web Developer</h5>
                <p>Seattle, WA</p>
            </div><!-- / banner-info -->
        </div><!-- / banner-content -->
    </div>
    <!-- / header-banner -->
</header>
<!-- / header -->

<!-- content -->

<!-- portfolio section -->
<section id="portfolio">
    <div class="container">
        <!-- portfolio filter -->
        <!-- <ul class="portfolio-filter list-inline text-center">
            <li><a href="#" data-group="all" class="active">ALL</a></li>
            <li><a href="#" data-group="graphic-design">GRAPHIC DESIGN</a></li>
            <li><a href="#" data-group="branding">BRANDING</a></li>
            <li><a href="#" data-group="logo-design">LOGO DESIGN</a></li>
            <li><a href="#" data-group="illustration">ILLUSTRATION</a></li>
        </ul> -->
        <!--end portfolio filter -->
        <ul class="row portfolio list-unstyled lightbox" id="grid">
            <!-- project -->
            <li class="col-xs-6 col-md-4 project" data-groups='["web-application"]'>
                <div class="img-bg-color primary">
                    <a href="#/project/1" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="images/1200x900/Grandcatch_1200x900.jpg" alt="">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <a href="#/project/1" class="view-btn">
                            <i class="lnr lnr-eye"></i>
                        </a>
                        <!-- <a href="images/project.jpg" class="open-gallery">
                            <i class="lnr lnr-frame-expand"></i>
                        </a> -->
                    </div><!-- / project-hover-tools -->

                    <!-- project-details -->
                    <div class="project-details">
                        <h5 class="project-title">GRANDCATCH</h5>
                        <p class="skill">Technologies: MongoDB, Express, AngularJS, NodeJS </p>
                    </div><!-- / project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / project -->

            <!-- project -->
            <li class="col-xs-6 col-md-4 project" data-groups='["logo-design"]'>
                <div class="img-bg-color primary">
                    <a href="#/project/2" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="images/1200x900/LE.jpg" alt="">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <a href="#/project/2" class="view-btn">
                            <i class="lnr lnr-eye"></i>
                        </a>
                    </div><!-- / project-hover-tools -->

                    <!-- project-details -->
                    <div class="project-details">
                        <h5 class="project-title">LAFARGE &amp EGGE</h5>
                        <p class="skill">Technologies: WordPress, Bootstrap, HTML, Sass, jQuery</p>
                    </div><!-- / project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / project -->

            <!-- project -->
            <li class="col-xs-6 col-md-4 project" data-groups='["illustration", "logo-design", "branding"]'>
                <div class="img-bg-color primary">
                    <a href="#/project/3" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="images/1200x900/Rogoway_1200x900.jpg" alt="">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <a href="#/project/3" class="view-btn">
                            <i class="lnr lnr-eye"></i>
                        </a>

                    </div><!-- / project-hover-tools -->

                    <!-- project-details -->
                    <div class="project-details">
                        <h5 class="project-title">ROGOWAY LAW</h5>
                        <p class="skill">Technologies: WordPress, Bootstrap, HTML, Sass, jQuery</p>
                    </div><!-- / project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / project -->

            <!-- project -->
            <li class="col-xs-6 col-md-4 project" data-groups='["graphic-design", "logo-design", "branding"]'>
                <div class="img-bg-color primary">
                    <a href="#/project/4" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="images/1200x900/Douglas_1200x900.jpg" alt="">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <a href="#/project/4" class="view-btn">
                            <i class="lnr lnr-eye"></i>
                        </a>
                    </div><!-- / project-hover-tools -->

                    <!-- project-details -->
                    <div class="project-details">
                        <h5 class="project-title">DOUGLAS SMITH</h5>
                        <p class="skill">Technologies: WordPress, Bootstrap, HTML, Sass</p>
                    </div><!-- / project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / project -->

            <!-- project -->
            <li class="col-xs-6 col-md-4 project" data-groups='["web-application"]'>
                <div class="img-bg-color primary">
                    <a href="#/project/5" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="images/1200x900/Sweptaway_1200x900.jpg" alt="">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <a href="#/project/5" class="view-btn">
                            <i class="lnr lnr-eye"></i>
                        </a>
                        <!-- <a href="images/project.jpg" class="open-gallery">
                            <i class="lnr lnr-frame-expand"></i>
                        </a> -->
                    </div><!-- / project-hover-tools -->

                    <!-- project-details -->
                    <div class="project-details">
                        <h5 class="project-title">SWEPTAWAY</h5>
                        <p class="skill">Technologies: Ruby on Rails, Bootstrap</p>
                    </div><!-- / project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / project -->


            <!-- project -->
            <li class="col-xs-6 col-md-4 project" data-groups='["branding"]'>
                <div class="img-bg-color primary">
                    <a href="#/project/6" class="project-link"></a>
                    <!-- / project-link -->
                    <img src="images/1200x900/DWCover.jpg" alt="">
                    <!-- / project-image -->

                    <!-- project-hover-tools -->
                    <div class="project-hover-tools">
                        <a href="#/project/6" class="view-btn">
                            <i class="lnr lnr-eye"></i>
                        </a>
                    </div><!-- / project-hover-tools -->

                    <!-- project-details -->
                    <div class="project-details">
                        <h5 class="project-title">DEANNA & WYLIE'S WEDDING</h5>
                        <p class="skill">Technologies: Boostrap, AngualarJS, Express, HTML, CSS, NodeJS </p>
                    </div><!-- / project-details -->
                </div><!-- / img-bg-color -->
            </li>
            <!-- / project -->



            <!-- sizer -->
            <li class="col-xs-6 col-md-4 shuffle_sizer"></li>
        </ul> <!-- / projects -->
    </div><!-- / container -->

</section>
<!-- / portfolio section -->
