<div id="page-content" class="container partials">
    <!-- project content + sidebar -->
    <section id="project">
        <div class="row">
            <!-- project content area -->
            <div class="col-sm-7">
                <div class="project-content-area">
                  <div class="slider-fade">
                    <img src="images/1600x1000/Grandcatch1_1600x1000.jpg" alt="" class="space-bottom-30">
                    <img src="images/1600x1000/Grandcatch2_1600x1000.jpg" alt="" class="space-bottom-30">
                    <img src="images/1600x1000/Grandcatch3_1600x1000.jpg" alt="" class="space-bottom-30">
                  </div>
                    <h4>PROJECT DESCRIPTION</h4>
                    <p>A web application that allows users to search for products and receive price comparison from Amazon and eBay. Users can filter and sort the items by the lowest price and make purchases via an affiliate link.</p>
                    <!-- <p>Fusce accumsan nisi non elit dictum, in malesuada quam ullamcorper. Proin libero ipsum, dictum ac lacus a, rhoncus tristique erat. Nulla vitae dignissim orci.</p> -->
                </div><!-- / project-content-area -->
            </div>
            <!-- / project-content-area -->

            <!-- project sidebar area -->
            <div class="col-sm-5 project-sidebar right">
                <div class="section-description light">
                    <h4>GRANDCATCH</h4>
                    <div class="project-info">
                        <div class="info">
                            <p><i class="lnr lnr-user"></i><span>Personal Project</span></p>
                        </div>
                        <div class="info">
                            <p><i class="lnr lnr-star"></i><span>Technologies:<a href="#x"> MongoDB, Express, Angular, Node.js, AJAX, APIs, Bootstrap, AWS</a></span></p>
                        </div>
                        <div class="info">
                            <p><i class="lnr lnr-calendar-full"></i><span>Date: Nov. 15, 2016</span></p>
                        </div>
                        <div class="info">
                            <p><i class="lnr lnr-map"></i><span>Location: Seattle</span></p>
                        </div>
                    </div><!-- / project-info -->

                    <div class="info-buttons">
                        <a href="http://www.grandcatch.com" target="_blank" class="btn btn-primary-filled"><i class="lnr lnr-eye"></i><span> View Site</span></a>
                    </div><!-- / info-buttons -->

                </div><!-- section-description -->

            </div><!-- / col-sm-4 col-md-3 -->
            <!-- / project sidebar area -->
        </div><!-- / row -->
    </section>
    <!-- / project content + sidebar -->

    <!-- project pagination -->
    <div class="pagination">
        <a href="#/project/6" class="btn btn-direction btn-default-filled"><i class="fa fa-long-arrow-left"></i><span>Previous Project</span></a>
        <a href="#/project/2" class="btn btn-direction btn-default-filled pull-right"><span>Next Project</span><i class="fa fa-long-arrow-right"></i></a>
    </div><!-- / project pagination -->

</div><!-- / container -->

<script type="text/javascript">
  $(document).ready(function () {
    $('.slider-fade').slick({
      dots: true,
      infinite: true,
      speed: 500,
      fade: true,
      cssEase: 'linear'
    });

  })
</script>
