<div id="page-content" class="container partials">
    <!-- project content + sidebar -->
    <section id="project">
        <div class="row">
            <!-- project content area -->
            <div class="col-sm-7">
                <div class="project-content-area">
                  <div class="slider-fade4">
                    <img src="images/1600x1000/LE1.jpg" alt="" class="space-bottom-30">
                    <img src="images/1600x1000/LE2.jpg" alt="" class="space-bottom-30">
                    <img src="images/1600x1000/LE3jpg" alt="" class="space-bottom-30">
                  </div>
                    <h4>PROJECT DESCRIPTION</h4>
                    <p>A website built for Lafarge & Egge rebrand using Wordpress, jQuery, HTML, Sass, and Bootstrap.</p>
                </div><!-- / project-content-area -->
            </div>
            <!-- / project-content-area -->

            <!-- project sidebar area -->
            <div class="col-sm-5 project-sidebar right">
                <div class="section-description light">
                    <h4>LAFARGE & EGGE</h4>
                    <div class="project-info">
                        <div class="info">
                            <p><i class="lnr lnr-user"></i><span>Client:<a href="#x"> Lafarge &amp Egge</a></span></p>
                        </div>
                        <div class="info">
                          <p><i class="lnr lnr-home"></i><span>Studio: <a href="http://www.conflare.com" target="_blank"> Conflare</a></span></p>
                        </div>
                        <div class="info">
                            <p><i class="lnr lnr-star"></i><span>Technologies:<a href="#x"> Wordpress, Bootstrap, Sass, jQuery</a>, <a href="#x"> Branding</a></span></p>
                        </div>
                        <div class="info">
                            <p><i class="lnr lnr-calendar-full"></i><span>Date: June. 15, 2017</span></p>
                        </div>
                        <div class="info">
                            <p><i class="lnr lnr-map"></i><span>Location: Seattle</span></p>
                        </div>
                    </div><!-- / project-info -->

                    <div class="info-buttons">
                        <a href="http://www.lafargeandegge.com" class="btn btn-primary-filled" target="_blank"><i class="lnr lnr-eye"></i><span> View Site</span></a>
                    </div><!-- / info-buttons -->

                </div><!-- section-description -->

            </div><!-- / col-sm-4 col-md-3 -->
            <!-- / project sidebar area -->
        </div><!-- / row -->
    </section>
    <!-- / project content + sidebar -->

    <!-- project pagination -->
    <div class="pagination">
        <a href="#/project/3" class="btn btn-direction btn-default-filled"><i class="fa fa-long-arrow-left"></i><span>Previous Project</span></a>
        <a href="#/project/5" class="btn btn-direction btn-default-filled pull-right"><span>Next Project</span><i class="fa fa-long-arrow-right"></i></a>
    </div><!-- / project pagination -->

</div><!-- / container -->

<!-- / content -->

<script type="text/javascript">
$(document).ready(function() {
  $(".slider-fade4").slick({
    dots: true,
    infinite: true,
    speed: 500,
    fade: true,
    cssEase: "linear"
  });
});
</script>
